.empty-city-state {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  margin-top: 48px;
  margin-bottom: 20px;
  color: #d87a00;
}

.empty-city-state .empty-city-state__secondary-text {
  font-size: 24px;
}