* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  overflow-x: hidden; 
}

.main {
  padding: 32px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--header {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 600px;
  margin-bottom: 8px;
  width: 100%;
}